@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes flame {
    0% {
      transform: scaleY(1);
      opacity: 0.8;
    }
    50% {
      transform: scaleY(1.2);
      opacity: 1;
    }
    100% {
      transform: scaleY(1);
      opacity: 0.8;
    }
  }

  .spin-left {
    transform: rotate(-90deg);
  }
  .spin-right {
    transform: rotate(90deg);
  }
  .transition-transform {
    transition: transform 0.5s ease;
  }
  
  
  .animate-flame {
    animation: flame 0.5s infinite;
  }
  